body {
  text-align: center;
  left: 50%;
}
#container {
  margin: 0 auto;
  margin-top: 20px;
  width: 800px;
  height: 500px;
  border: 1px solid black;
}
table,
th,
td {
  border: 1px solid black;
}
button {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: red;
  padding: 5px;
}
